<h1>Agentie de turism!!</h1>
<p>Welcome to your new single-page application for a Travel Agency, built with:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>Start your <strong>reservation</strong>:</p>

<ul>
    <li><strong>Add, Show or modify a reservation</strong></li>
    <li><strong>Add, Show or modify a client (traveller)</strong></li>
    <li><strong>Add, Show or modify remarks for a reservation</strong></li>
</ul>

<!--<mat-slider-toggle>
    Slide me!
</mat-slider-toggle>-->


