<h1 id="tableLabel">Reservations</h1>

<p>Here you can see all the reservations, and you can edit, add or delete it.</p>

<p *ngIf="!reservations"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="reservations">
    <thead>
        <tr>
            <th>Id</th>
            <th>Sum</th>
            <th>Location</th>
            <th>AddedOn</th>
            <th>Currency</th>
            <th>Type</th>
            <th>DepartureTime</th>
            <th>ArrivalTime</th>
            <th>Docs</th>
            <th>Remarks number</th>
            <th>Operations</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let reservation of reservations">
            <td>{{ reservations.id }}</td>
            <td>{{ reservations.sum }}</td>
            <td>{{ reservations.location }}</td>
            <td>{{ reservations.addedOn }}</td>
            <td>{{ reservations.currency }}</td>
            <td>{{ reservations.type }}</td>
            <td>{{ reservations.departureTime }}</td>
            <td>{{ reservations.arrivalTime }}</td>
            <td>{{ reservations.documents }}</td>
            <td>{{ reservations.numberOfRemarks }}</td>
            <td>
                <a class="btn btn-primary" [routerLink]="['/fetch-data', reservation.id]" routerLinkActive="active">Details</a> |
                <a class="btn btn-info">Edit</a> |
                <a class="btn btn-danger" (click)="delete(reservations.id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>


<!--<p>add a reservation</p>


<input [(ngModel)]="id" />

<p>{{id}}</p>

<button (click)="submit()">submit!</button>


<input type="date" />-->
