<h1 id="tableLabel">Reservations</h1>

<p>Here you can see all the reservations, and you can edit, add or delete it.</p>

<p *ngIf="!reservations"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="reservations">
    <thead>
        <tr>
            <th>Sum</th>
            <th>Location</th>
            <th>AddedOn</th>
            <th>Currency</th>
            <th>Type</th>
            <th>DepartureTime</th>
            <th>ArrivalTime</th>
            <th>Documents</th>
            <th>Number of remarks</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reservations of reservations">
            <td>{{ reservations.sum }}</td>
            <td>{{ reservations.location }}</td>
            <td>{{ reservationst.addedOn }}</td>
            <td>{{ reservations.currency }}</td>
            <td>{{ reservations.type }}</td>
            <td>{{ reservations.departureTime }}</td>
            <td>{{ reservationst.arrivalTime }}</td>
            <td>{{ reservations.numberOfRemarks }}</td>
            <td>

<a class="btn btn-primary" [routerlink]="['/fetch-data', reservation.id]" routerlinkactive="active">details</a> |
                <a class="btn btn-info">edit</a> |
                <a class="btn btn-danger" (click)="delete(reservation.id)">delete</a>
            </td>
        </tr>
    </tbody>
</table>


<p>add a reservation</p>


<input [(ngmodel)]="id" />

<p>{{id}}</p>

<button (click)="submit()">submit!</button>


<input type="date" />
